<div class="signup-form">
    <div class="signup-icon" style="margin-bottom: 20px">
        <i style="font-size: 100px; color: green; margin-top: 30px" class="fa-solid fa-user-lock"></i>
    </div>
    <form action="/authenticate" method="POST">
        <div class="field">
            <label class="label" style="font-size: x-large">Email</label>
            <div class="control">
                <input class="input" type="text" placeholder="Email">
            </div>
        </div>

        <div class="field">
            <label class="label" style="font-size: x-large">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="Password">
            </div>
        </div>
        <div class="field is-grouped">
            <button class="button is-link" style="margin-top: 20px; font-size: large">Submit</button>
        </div>
    </form>

    <h1 style=" margin-top: 30px; font-size: xx-large; font-weight: bold; font-style: italic">Welcome Back</h1>
</div>


<style>

    .signup-form {

        margin-top: 12pc;
        display: grid;
        place-items: center;

    }

</style>














