<nav class="navbar">
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
            <div class="dropdown is-hoverable" style="margin-top: 10px">
                <div class="dropdown-trigger">
                    <button class="button" style="font-weight: bold; font-size: x-large; background-color: lightgreen" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Menu</span>
                        <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu" style="font-size: x-large">
                    <div class="dropdown-content">
                        <a href="/signup" class="dropdown-item" style="font-weight: bold; font-size: x-large">
                            <i class="fas fa-user-plus" style="color: blue"></i> Sign Up
                        </a>
                        <hr class="dropdown-divider">
                        <a href="/login" class="dropdown-item" style="font-weight: bold; font-size: x-large">
                            <i class="fa-solid fa-user-lock" style="color: blue"></i> Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>






<div class="flexbox">
    <div style="margin-bottom: 10px; margin-left: 30px; margin-right: 30px">
        <i style="font-size: 100px; color: green;" class="fas fa-map-marked-alt"></i>
    </div>
    <div style="margin-bottom: 20px">
        <h1 style="font-size: 40px; font-weight: bold">Ireland's Oghams</h1>
    </div>
    <div style="margin-bottom: 20px; margin-right: 20px">
        <!--  <i style="font-size: 200px; color: green;" class="fab fa-laravel fa-flip"></i> -->
        <i class="fab fa-laravel fa-flip" style="--fa-animation-duration: 3s; font-size: 200px; color: green" ></i>
    </div>
    <div style="margin-bottom: 20px">
        <h3 style="font-size: 20px; font-style: italic; font-weight:
bold">
            A simple POI website for Ireland's Ogham Stones
        </h3>
    </div>
</div>
<!--
<div class="triage-flex">
    <div style="font-weight: bold">
        <a class="button is-link" id="login" href="/login" style="font-size: 20px"> Log in </a>
        <a class="button is-link" id="signup" href="/signup" style="font-size: 20px"> Sign Up </a>
    </div>
</div>
-->

<style>
    .flexbox {
        margin-right: 250px;
        margin-left: 250px;
        margin-top: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .triage-flex {
        margin-right: 250px;
        margin-left: 250px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }




</style>


<script>
    document.getElementById("{{active}}").classList.add("is-primary");
</script>





























<!-- <div class="home" style="display: table; height: 100vh; width: 100%;">
    <div style="display: table-cell; vertical-align: middle; text-align:
center;">
        <div style="margin-bottom: 10px; margin-right: 10px">
            <i style="font-size: 100px; margin-right: 10px; color: green;"
               class="fas fa-map-pin"></i>
            <i style="font-size: 100px; color: green;" class="far
fa-map"></i>
        </div>
        <div style="margin-bottom: 20px">
            <h1 style="font-size: 40px; font-weight: bold">Ogham
                Stones</h1>
        </div>
        <div style="margin-bottom: 20px">
            <i style="font-size: 200px; color: green;" class="fab
fa-laravel"></i>
        </div>
        <div style="margin-bottom: 20px">
            <h3 style="font-size: 20px; font-style: italic; font-weight:
bold">
                A simple POI website for Ireland's Ogham Stones
            </h3>
        </div>
        <div>
            <a class="button" id="login" href="/login"> Log in </a> <a
            class="button" id="signup" href="/signup"> Sign Up </a>
        </div>
    </div>
</div>

<style>
    .home {
        background-color: lightgrey;
    }
</style>


-->










