<div class="counties">
<div class="dropdown is-hoverable" style="margin-top: 10px; margin-bottom: 50px">
    <div class="dropdown-trigger">
        <button class="button" style="font-weight: bold; font-size: x-large; background-color: lightgreen" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Counties</span>
            <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu" style="font-size: x-large">
        <div class="dropdown-content">
            <a class="dropdown-item" style="font-size: large; font-weight: bold">
                Republic of Ireland
            </a>
            <a class="dropdown-item" style="font-size: large">
                Antrim
            </a>
            <a class="dropdown-item" style="font-size: large">
                Armagh
            </a>
            <a class="dropdown-item" style="font-size: large">
                Carlow
            </a>
            <a class="dropdown-item" style="font-size: large">
                Cavan
            </a>
            <a class="dropdown-item" style="font-size: large">
                Clare
            </a>
            <a class="dropdown-item" style="font-size: large">
                Cork
            </a>
            <a class="dropdown-item" style="font-size: large">
                Derry
            </a>
            <a class="dropdown-item" style="font-size: large">
                Donegal
            </a>
            <a class="dropdown-item" style="font-size: large">
                Down
            </a>
            <a class="dropdown-item" style="font-size: large">
                Dublin
            </a>
            <a class="dropdown-item" style="font-size: large">
                Fermanagh
            </a>
            <a class="dropdown-item" style="font-size: large">
                Galway
            </a>
            <a class="dropdown-item" style="font-size: large">
                Kerry
            </a>
            <a class="dropdown-item" style="font-size: large">
                Kildare
            </a>
            <a class="dropdown-item" style="font-size: large">
                Kilkenny
            </a>
            <a class="dropdown-item" style="font-size: large">
                Laois
            </a>
            <a class="dropdown-item" style="font-size: large">
                Leitrim
            </a>
            <a class="dropdown-item" style="font-size: large">
                Limerick
            </a>
            <a class="dropdown-item" style="font-size: large">
                Longford
            </a>
            <a class="dropdown-item" style="font-size: large">
                Louth
            </a>
            <a class="dropdown-item" style="font-size: large">
                Mayo
            </a>
            <a class="dropdown-item" style="font-size: large">
                Meath
            </a>
            <a class="dropdown-item" style="font-size: large">
                Monaghan
            </a>
            <a class="dropdown-item" style="font-size: large">
                Offaly
            </a>
            <a class="dropdown-item" style="font-size: large">
                Roscommon
            </a>
            <a class="dropdown-item" style="font-size: large">
                Sligo
            </a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" style="font-size: large; font-weight: bold">
                Northern Ireland
            </a>
            <a class="dropdown-item" style="font-size: large">
                Tipperary
            </a>
            <a class="dropdown-item" style="font-size: large">
                Tyrone
            </a>
            <a class="dropdown-item" style="font-size: large">
                Waterford
            </a>
            <a class="dropdown-item" style="font-size: large">
                Westmeath
            </a>
            <a class="dropdown-item" style="font-size: large">
                Wexford
            </a>
            <a class="dropdown-item" style="font-size: large">
                Wicklow
            </a>
        </div>
    </div>
</div>
</div>

<style>
    .counties{
        display: grid;
        place-items: start;

    }
</style>