<div class="box">
    <h1 class="title">
        Republic of Ireland
    </h1>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Carlow
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Cavan
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Clare
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Cork
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Donegal
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Dublin
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Galway
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Kerry
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Kilkenny
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Laois
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Leitrim
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Limerick
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Longford
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Louth
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Mayo
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Meath
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Monaghan
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Offaly
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Roscommon
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Sligo
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Tipperary
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Waterford
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Westmeath
    </h2>
</div>

<div class="box box-link-hover-shadow">
    <h2 class="title">
        Wexford
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Wicklow
    </h2>
</div>

<div class="box">
    <h1 class="title">
        Northern Ireland
    </h1>
</div>
<div class=" box box-link-hover-shadow">
    <h2 class="title">
        Antrim
    </h2>
</div>
<div class=" box box-link-hover-shadow">
    <h2 class="title">
        Armagh
    </h2>
</div>
<div class=" box box-link-hover-shadow">
    <h2 class="title">
        Derry
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Down
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Fermanagh
    </h2>
</div>
<div class="box box-link-hover-shadow">
    <h2 class="title">
        Tyrone
    </h2>
</div>


<style>

    .box {
       background-color: #DBDBDB;
       border: 1px solid black;
    }
    .box-link-hover-shadow {
        border: 0.05pc solid black;
        background-color: #D5F0AA;
    }
</style>